{% extends "base.html" %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}

<div class="container-fluid vh-100">
    <div class="row vh-100 p-0 justify-content-center">

        <div class="col-1 p-5 border-end border-dark"></div>
        <div id="Main" class="col-8 border-end border-dark">

            <div id="Post" class="row my-3">
                <div class="col">
                    <div id="Post Title" class="row px-5 py-3">
                        <div class="col"><h2 style="font-family: 'Roboto Serif', serif; color: black;">{{ post.title }}</h2></a></div>
                    </div>
                    <div id="Post Meta" class="row px-5 py-2 border-top border-bottom border-dark">
                        <div class="col card-subtitle text-muted" style="font-family: 'Raleway', sans-serif; color: black;">
                            <span class="m-1"><i class="fa-regular fa-circle-user"></i> {{ post.author }}</span>
                            <span class="m-1"><i class="fa-regular fa-calendar"></i> {{ post.published_at }}</span>
                        </div>
                        <div class="col card-subtitle text-end text-muted" style="font-family: 'Raleway', sans-serif; color: black;">
                            <span class="m-1"><i class="fa-regular fa-comment"></i> {{ comments.count }}</span>
                            <span class="m-1"><a href="{% url 'blog:post_share' post.id %}"><i class="fa-regular fa-share-from-square"></i></a></span>
                        </div>
                    </div>
                    <div id="Post Body" class="row px-5 py-2" style="font-family: 'Lato', sans-serif; color: black;">
                        <div class="col">
                            <p>{{ post.body|markdown}}</p>
                        </div>
                    </div>
                    <div id="Post Comments" class="row px-5 py-2 border-top border-dark">
                        <h3 style="font-family: 'Raleway', sans-serif;">Comments</h3>

                        {% for comment in comments %}

                            <div class="row flex-column border border-dark p-3">
                                <div class="col" style="font-family: 'Lato', sans-serif; color: black;">
                                    {{ comment.body|linebreaks }}
                                </div>
                                <div class="col mb-2 card-subtitle text-muted" style="font-family: 'Raleway', sans-serif; color: black; font-size: 12px;">
                                    <span class="m-1"><i class="fa-regular fa-circle-user"></i> {{ comment.name }}</span>
                                    <span class="m-1"><i class="fa-regular fa-calendar"></i> {{ comment.created_at }}</span>
                                </div>
                            </div>

                        {% empty %}
                            <p style="font-family: 'Lato', sans-serif; color: black;">There are no comments yet.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

        <div id="Sidebar" class="col-3 p-3">

            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div id="Latest Posts" class="row border border-dark my-3 m-1 p-3">
                                <h3 style="font-family: 'Raleway', sans-serif;">Latest Posts</h3>
                                {% show_latest_posts %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div id="Similar Posts" class="row border border-dark my-3 m-1 p-3">
                                <h3 style="font-family: 'Raleway', sans-serif;">Similar Posts</h3>
                                <div>
                                    <ul style="font-family: 'Lato', sans-serif; list-style:none;">
                                        {% for post in similar_posts %}
                                            <li><a href="{{ post.get_absolute_url }}"><p style=" color: black;">{{ post.title }}</p></a></li>
                                        {% empty %}
                                            There are no similar posts yet
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>

        </div>
    </div>
</div>





<!-- <section>
    {% include "blog/post/comment_form.html" %}
</section> -->

{% endblock content %}