{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bento Box Blog{% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <section>
        <h2>Total Posts: [{% total_posts %}]</h2>
        <a href="{% url 'blog:post_feed' %}">Subscribe to my RSS feed.</a>
    </section>

    {% block content %}

    {% endblock content %}

    <section>
        <h3>Latest Posts</h3>
        {% show_latest_posts %}
    </section>

    <section>
        <h3>Most Commented Posts</h3>
        {% get_most_commented_posts as popular_posts %}
        <ul>
            {% for post in popular_posts %}
                <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </section>
</body>
</html>